img{
	max-width: 100%;
}

.mg-tile{
	height: 300px;
	min-width: 200px;
	border: 2px solid black;
	perspective:  500px /*set up the parent as a 3D playgorund with perspective!*/;

	}

.mg-tile-inner{

	width:  200px;
	position: relative;
	transform-style: preserve-3d;   /*must have this otherwise css will preserve the inherent 2d*/
	transition: all 1s;

}

.mg-front, .mg-back{
	position: absolute;
	top: 0;
	left: 0;
	border:  2px solid red;
	backface-visibility: hidden;
	perspective-origin: center center;
}

.mg-front{
	transform: rotateY(180deg);   /*flips front of card facedown*/
}

.mg-back{
	background: url("../blackjack/cards/deck.png") no-repeat 50% 50%;
	width:  200px;
	height: 300px; 
}

.flip{
	transform: rotateY(-180deg);
	perspective-origin: center center;
}